/* Basic Params */
*{
    padding: 0;
    margin: 0;
}

.veige p{
    font-size: 10px;
}


a{
    text-decoration: none;
    color: #3e3e3f;
}


body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Readex Pro', sans-serif;
    color:#3e3e3f;
    background-color: #E5E5E5;
}

.fuenteSegundaria{
    font-family: 'Poppins', sans-serif;
}

/*Navbar  */

header{
    display: flex;
    justify-content: space-between;
    height: 13vh;
    width: 100vw;
    background-color: #e8d1b0b4;
    position: fixed;
    top: 0;
    z-index: 4;
    min-height: 85px;

}

.divLogoNavbar{
    display: flex;
    margin-left: 2%;
    margin-top: .5%;
    width: 100%;
    height: 100%;

}

header div img{
    width: 8%;
    min-width: 65px;

}

header div nav ul{
    display: flex;

}

.divUlNavbar{
    position: relative;
    bottom: 15%;
    right: 35%;
}

header div nav ul li{
    margin-top: 25%;
    list-style: none;
    margin-left: 60%;
    width: 100%;
}

header nav a::before{
    content: "";
    width: 0%;
    height: 3px;
    background-color: #5a97d1;
    position: absolute;
    top: 70px;
    transition: .5s;
}

@media (hover: hover){
    header nav a:hover::before{
        width: 50%;
        transition: .3s;
    }
    
    header a:hover{
        color: #5a97d1;
        transition: .3s;
    }
}



/* div first */

.sliderBackground{
    background-image: url("https://img.freepik.com/foto-gratis/textura-fondo_1404-99.jpg?t=st=1649188945~exp=1649189545~hmac=1acbc6cc5dd43ab191ccfa5556145d53d6e8820aad77ab212ad427e50ec94020&w=996");
    margin-top: 14vh;
    height: 87vh;
}

.sliderPict{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.sliderPict img{
    width: 25%;
}

.fotoSlider2{
    height: 50%;
}

.flexPicts{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.flexPicts img{
    width:22% ;
    max-height: 320px;
    max-width: 250px;
}


/* fixed insta */

.fixedInstagram img{
    width: 4%;
    position: fixed;
    left: 92%;
    bottom: 10%;
    z-index: 10;
    min-width: 45px;
}

/* secondDiv */

.secondDiv{
    height: 180vh;
    width: 100%;
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.veige{
    width: 80%;
    height: 145vh; 
    background-color: #e8d1b0;
}

.veigeTittle{
    width: 100%;
    height: 15vh;
    padding-bottom:2% ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}


.veigeDescription p{
    width: 60%;
    padding-left: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 14px;
    line-height: 180%;
}

.takeAway{
    width: 100%;
    height: 20vh;
    background-color: #e8d1b0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.takeAway span{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 4px;
    word-spacing: 10px;
}

/* contact */

.contact{
    height: 105vh;
    width: 100%;
}

.contact iframe{
    margin-left: 12%;
    padding-top: 3%;
}

.contactTittle{
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    padding-top: 8%;
    padding-bottom: 2%;
}

.twoDivFlex{
    display: flex;
    width: 100%;
    justify-content: center;

}

.twoDivFlex>div{
    width: 42vw;
    height: 70vh;
}

.blueDiv{
    background-color: #3e3e3f;
    color: #e8d1b0;
}

.veigeDiv{
    background-color: #e8d1b0;
}

.twoDivFlexTittle{
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    padding-bottom: 4%;
}

.contactDivContent div{
    padding-bottom: 2%;
    margin-left: 12%;
}

.contactDivContent p i{
    padding-right: 1%;
}

.italic{
    font-weight: 800;
}

iframe{
    height: 100px;
    width: 250px;
}

/* Footer */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-image:url("https://img.freepik.com/foto-gratis/textura-fondo_1404-99.jpg?t=st=1649188945~exp=1649189545~hmac=1acbc6cc5dd43ab191ccfa5556145d53d6e8820aad77ab212ad427e50ec94020&w=996");
}

footer img{
    width: 10%;
    padding-left: 2%;
}

footer>div{
    width: 40%;
    padding-top: 2%;
    padding-right: 10%;
    display: flex;
    max-width: 650px;
}

footer div div{
    padding-right: 2%;
    padding-top: 2%;
    width: 100%;
    color: #3e3e3f;
    min-width: 253px;
}

@media screen and (max-width:1150px) {
    .divUlNavbar{
        position: relative;
        right: 35%;
    }

    footer div div{
        position: relative;
        right: 30%;
    }


    .takeAway span{
        font-size: 50px;
    }

    .twoDivFlexTittle span{
        font-size: 32px;
    }

    .veige{
        height: 180vh;
    }

    .secondDiv{
        height: 200vh;
    }
}

@media screen and (max-width:1000px){
    .divUlNavbar{
        position: relative;
        right: 40%;
    }

    .flexPicts{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
    }
    .takeAway span{
        font-size: 40px;
        font-weight: 600;
    }

    .veige{
        width: 75%;
    }

    .veigeDescription p, .contactDivContent,footer div div{
        font-size: 15px;
    }


}

@media screen and (max-width:850px) {
    .divUlNavbar{
        position: relative;
        right: 50%;
    }

    footer div div{
        position: relative;
        right: 50%;
    }

    .flexPicts{
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .takeAway{
        height: 15vh;
    }

    .sliderPict img{
        width: 50%;
    }
    .twoDivFlexTittle span{
        font-size: 25px;
    }

    .veigeDescription p, .contactDivContent, footer div div{
        font-size: 14px;
    }

    .takeAway span{
        font-size: 32px;
    }
}

@media screen and (max-width:680px) {
    .divUlNavbar{
        position: relative;
        right: 65%;
    }

    .takeAway span{
        font-size: 25px;
    }

    .veige{
        height: 165vh;
    }
}

@media screen and (max-height:730px) and (max-width:680px){
    .secondDiv{
        height: 200vh;
    }
    .veige{
        height: 170vh;
    }
}

@media screen and (max-height:730px) and (max-width:850px) {
    .secondDiv{
        height: 200vh;
    }
    .veige{
        height: 155vh;
    }
}

@media screen and (max-width:720px) and (min-height:1280px) {
    .divUlNavbar nav li{
        font-size: 25px;
    }

    header div nav ul li{
        margin-left: 25%;
    }

    .secondDiv{
        height: 220vh;
    }

    header{
        height: 10%;
    }

    .divUlNavbar{
        right: 35%;
    }

    .divLogoNavbar{
        align-items: center;
    }

    .divLogoNavbar img{
        width: 25%;
    }

    .sliderPict img{
        width: 80%;
    }

    .sliderBackground{
        margin-top: 10vh;
        height: 92vh;
    }

    .flexPicts{
        flex-wrap: wrap;
        margin-left: 15%;
        margin-right: 15%;
    }

    .flexPicts img{
        padding-bottom: 8%;
        width: 45%;
        
    }

    .fixedInstagram img{
        width: 10%;
        left:85%;
    }

    .contact{
        height: 110vh;
    }

    iframe{
        height: 170px;
    }

    .veige{
        width: 85%;
        height: 200vh;
    }

    .veigeTittle{
        font-size: 40px;
    }

    .twoDivFlexTittle{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .twoDivFlexTittle span{
        font-size: 48px;
    }

    .veigeDescription p{
        font-size: 25px;
        padding-left: 10%;
        padding-top: 3%;
        width: 80%;
    }
    .takeAway{
        height: 10vh;
    }

    .contactTittle{
        font-size: 34px;
        padding-bottom: 5%;
    }


    .twoDivFlex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .twoDivFlex>div{
        padding-left: 15%;
        width: 70%;
        height:45vh;
    }

    .contactDivContent>div, .twoDivFlexTittle,.contact iframe{
        font-size: 20px;
        margin-left:0;
    }

    .slider span{
        font-size: 20px;
    }

    footer .fuenteSegundaria div{
        font-size: 20px;
        padding-top: 15%;
    }

    footer .fuenteSegundaria{
        display: flex;
        flex-direction: column;
    }

    footer img{
        width: 20%;
    }

    footer>div div{
        padding-left: 40%;
    }
}

@media screen and (max-width:400px){
    .divUlNavbar nav li{
        font-size: 11px;
        padding-top: 10%;
    }

    header{
        height: 5%;
        min-height: none;
    }

    header div img{
        min-width: none;
        width: 5%;
    }
}

@media screen and (max-width:380px) and (max-height:670px){
    header div nav ul li{
        margin-left: 35%;
        position: relative;
        left: 55%;
    }
    .divLogoNavbar{
        position: relative;
        top: 10%;
    }

    .sliderPict img{
        width: 70%;
    }

    .sliderBackground{
        margin-top: 13vh;
        height: 82vh;
    }

    .takeAway span{
        font-size: 15px;
    }

    .flexPicts{
        flex-wrap: wrap;
        margin-left: 15%;
        margin-right: 15%;
    }

    .flexPicts img{
        padding-bottom: 8%;
        width: 45%;
        
    }

    .contact{
        height: 140vh;
    }

    .secondDiv{
        height: 170vh;
    }

    .twoDivFlexTittle{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .twoDivFlexTittle span{
        font-size: 48px;
    }

    .veigeDescription p{
        font-size: 25px;
        padding-left: 10%;
        padding-top: 3%;
        width: 80%;
    }
    .takeAway{
        height: 10vh;
    }

    .contactTittle{
        font-size: 25px;
        padding-bottom: 5%;
    }

    .twoDivFlexTittle span{
        font-size: 25px;
    }
    .twoDivFlex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .twoDivFlex>div{
        padding-left: 15%;
        width: 70%;
        height:55vh;
    }



    .contactDivContent>div, .twoDivFlexTittle,.contact iframe{
        font-size: 13px;
        margin-left:0;
    }

    .veige{
        height: 20h;
    }

    .veigeTittle{
        font-size: 20px;
    }

    .veigeDescription p{
        font-size: 10px;
    }

    footer img{
        width: 20%;
    }

    footer div{
        width: 100%;
        position: relative;
        left: 5%;
    }

    .footerRight{
        position: relative;
        right: 100%;
    }

    footer div div{
        padding-right: .5%;
        width: 10px;
    }

    footer div div p{
        font-size: 10px;
    }
}